<h2 mat-dialog-title>Edit leave information</h2>
<mat-dialog-content class="mat-typography">

        <form [formGroup]="formleave">
                <!-- first row -->
               <div class="row form-group">
                       <div class="col-md-4">
                         <label for="" class="col-form-label">
                           Leave type no.
                         </label>
                       </div>
                       <div class="col-md-8">
                         <input type="text" class="form-control" name="ltno"
                         formControlName="ltno"
                         [ngClass]="{
                             'form-control': true,
                             'is-invalid': !formleave.controls['ltno'].valid && formleave.controls['ltno'].touched,
                             'is-valid': formleave.controls['ltno'].valid }">
                             <div class="text-danger" *ngIf="ltno.errors?.required && ltno.touched">Fields are required</div>  
                       </div>
                         
                     </div> 
                     <!-- // -->
                       <!-- first row -->
                       <div class="row form-group">
                           <div class="col-md-4">
                             <label for="" class="col-form-label">
                               Leave date from
                             </label>
                           </div>
                           <div class="col-md-8">
                             <input type="date" class="form-control" name="ldfrom"
                             formControlName="ldfrom"
                         [ngClass]="{
                             'form-control': true,
                             'is-invalid': !formleave.controls['ldfrom'].valid && formleave.controls['ldfrom'].touched,
                             'is-valid': formleave.controls['ldfrom'].valid }">
                             <div class="text-danger" *ngIf="ldfrom.errors?.required && ldfrom.touched">Fields are required</div>  
                           </div>
                         </div> 
                         <!-- // -->
                         <!-- first row -->
                       <div class="row form-group">
                           <div class="col-md-4">
                             <label for="" class="col-form-label">
                               Leave data to.
                             </label>
                           </div>
                           <div class="col-md-8">
                             <input type="text" class="form-control" name="ldto"
                             formControlName="ldto"
                         [ngClass]="{
                             'form-control': true,
                             'is-invalid': !formleave.controls['ldto'].valid && formleave.controls['ldto'].touched,
                             'is-valid': formleave.controls['ldto'].valid }">
                             <div class="text-danger" *ngIf="ldto.errors?.required && ldto.touched">Fields are required</div>  
                           </div>
                         </div> 
                         <!-- // -->
                         <!-- first row -->
                       <div class="row form-group">
                           <div class="col-md-4">
                             <label for="" class="col-form-label">
                               Reason
                             </label>
                           </div>
                           <div class="col-md-8">
                             <textarea name="reason"  class="form-control" id="" cols="30" rows="10"
                             formControlName="reason"
                         [ngClass]="{
                             'form-control': true,
                             'is-invalid': !formleave.controls['reason'].valid && formleave.controls['reason'].touched,
                             'is-valid': formleave.controls['reason'].valid }"></textarea>
                             <div class="text-danger" *ngIf="reason.errors?.required && reason.touched">Fields are required</div>  
                           </div>
                         </div> 
                         <!-- // -->
                         <!-- first row -->
                       <div class="row form-group">
                           <div class="col-md-4">
                             <label for="" class="col-form-label">
                             Turn over
                             </label>
                           </div>
                           <div class="col-md-8">
                             <input type="text" class="form-control" name="turnover"
                             formControlName="turnover"
                         [ngClass]="{
                             'form-control': true,
                             'is-invalid': !formleave.controls['turnover'].valid && formleave.controls['turnover'].touched,
                             'is-valid': formleave.controls['turnover'].valid }">
                             <div class="text-danger" *ngIf="turnover.errors?.required && turnover.touched">Fields are required</div>  
                           </div>
                         </div> 
                         <!-- // -->
                         <!-- first row -->
                       <div class="row form-group">
                           <div class="col-md-4">
                             <label for="" class="col-form-label">
                             Remarks
                             </label>
                           </div>
                           <div class="col-md-8">
                             <input type="text" class="form-control" name="remarks"
                             formControlName="remarks"
                         [ngClass]="{
                             'form-control': true,
                             'is-invalid': !formleave.controls['remarks'].valid && formleave.controls['remarks'].touched,
                             'is-valid': formleave.controls['remarks'].valid }">
                             <div class="text-danger" *ngIf="remarks.errors?.required && remarks.touched">Fields are required</div>  
                           </div>
                         </div> 
                         <!-- // -->
                         <!-- first row -->
                       <div class="row form-group">
                           <div class="col-md-4">
                             <label for="" class="col-form-label">
                               Letter to.
                             </label>
                           </div>
                           <div class="col-md-8">
                             <input type="text" class="form-control" name="letterno"
                             formControlName="letterno"
                         [ngClass]="{
                             'form-control': true,
                             'is-invalid': !formleave.controls['letterno'].valid && formleave.controls['letterno'].touched,
                             'is-valid': formleave.controls['letterno'].valid }">
                             <div class="text-danger" *ngIf="letterno.errors?.required && letterno.touched">Fields are required</div>  

                           </div>
                         </div> 
                         <!-- // -->
                         <!-- button -->

                         

                 <!-- end button -->
           </form>
    
</mat-dialog-content>


<mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button   
                             [disabled]="formleave.invalid" 
                             (click)="submitleave()" title="Click the button to register the information"><i class="fa fa-plus-circle mr-2"></i>Save</button>
        <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
 </mat-dialog-actions>