<!-- <div class="row">
  <div class="col-md-12"> -->
<!-- <div >
    <div class="style-back-header">
      <div class="japan-test">
          <h1>EasyCom Japan</h1>
      </div> -->
      <!-- <ul>
          <li class="li-back">Home</li>
          <li class="li-back">Contact</li>
          <li class="li-back">Pages</li>
          <li class="li-back">News</li>
        <li class="li-back dropdown">
          <div class=" dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User
          </div>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <div class="dropdown-item">hello</div>
            </div>
        </li>
        
        
        
      </ul> -->
      <!-- <div class="style-color-overlay"></div> -->
    <!-- </div>
</div>  -->

   
<!-- 
  </div>
</div> -->
<!--  -->
<!-- <ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/img-01.webp" alt="Angular Carousel 1">
    </div>
    <div class="carousel-caption">
      <h3>Title Goes Here</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/image-02.jpg"  alt="Angular Carousel 2">
    </div>
    <div class="carousel-caption">
      <h3>Title Goes Here</h3>
      <p>Consectetur tortor volutpat pretium.</p>
    </div>
  </ng-template>
  
  
</ngb-carousel> -->