.style-nav-back{
    background: #6c1414;
    border-radius: 5px;
    
}


a:link{
    text-decoration: none;
    font-weight: bold;
}
a{
    color: #fff;
}


.style-color-overlay{
    width: 100%;
    height: 100%;
    background:#d63031;
    opacity: .6;
    position: absolute;
}
.style-back-header{
    display: flex;
    background:#000 url(https://cdn.pixabay.com/photo/2019/10/27/18/48/skyline-4582510_960_720.jpg);
    height: 200px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
    font-family: 'Lobster Two', cursive;
    /* z-index: -10; */


}
h1{
    border-bottom: #fff 1px solid;
    border-top: #fff 1px solid;
    z-index: 1;
}
.style-footer-back{
   color: #fff;
}

ul{
    text-decoration: none;
}

ul, li{
    display: inline-flex;
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px;
   font-size: 26px;
    
}

.li-back:nth-child(1) {
    border-right: 1px solid #6c1414;
    
}
.li-back:nth-child(2) {
    border-right: 1px solid #6c1414;
    
}
.li-back:nth-child(3) {
    border-right: 1px solid #6c1414;
    
}
.li-back:nth-child(4) {
    border-right: 1px solid #6c1414;
    
}

.japan-test{
   z-index: 1;
   position: absolute;
}
/*  */

ngb-carousel {
    max-width: 700px;
    margin: 50px auto;
}

ngb-carousel img {
    width: 100%;
    outline: none;
    height: 350px;
}

ngb-carousel {
    width: inherit;
    height: inherit;
}

.carousel-inner {
    overflow: visible;
}

.carousel-item {
    display: flex !important;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.2s ease-in-out, visibility 1.2s;
    z-index: -1;
}

.carousel-item.active{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.carousel-control-prev {
     z-index: 20;
}

.carousel-control-next {
     z-index: 20;
}

.carousel-indicators{
    z-index: 20;
}