


    <div class="container">
        <app-header></app-header>
         
        <div class="row mt-5">
            <div class="col-lg-4 col-md-4">
                <!-- //my menus goes here -->
                    <app-barside></app-barside>
            </div>
            <div class="col-lg-8 col-md-8">
                <!-- //main content goes here -->
                <div *ngIf="details">
                      <div class="card">
                          <div class="card-header style-head-back"><i class="fa fa-user mr-2"></i>User information Details</div>
                          <div class="card-body">
                          <div class="row form-group">
                              <div class="col-md-10"></div>
                              <div class="col-md-2">
                                  <button class="btn btn-info btn-block btn-md"><i class="fa fa-file-pdf mr-2"></i>PDF</button>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="card">
                                      <div class="card-body">

                                        <div class="row form-group">
                                            <div class="col-md-4">
                                                <strong>Fullname</strong>
                                            </div>
                                            <div class="col-md-8">
                                                    {{details.fname}}&nbsp;
                                                    {{details.mname}}&nbsp;
                                                    {{details.lname}}
                                            </div>
                                        </div>
                                        <!--  -->

                                        <div class="row form-group">
                                                <div class="col-md-4">
                                                    <strong>Birthday</strong>
                                                </div>
                                                <div class="col-md-8">
                                                        {{details.bday}}
                                                </div>
                                       </div>
                                       <!--  -->

                                       <div class="row form-group">
                                            <div class="col-md-4">
                                                <strong>Gender</strong>
                                            </div>
                                            <div class="col-md-8">
                                                    {{details.gender}}
                                            </div>
                                       </div>
                                       <div class="row form-group">
                                            <div class="col-md-4">
                                                <strong>Password</strong>
                                            </div>
                                            <div class="col-md-8">
                                                    {{details.password}}
                                            </div>
                                       </div>
                                       <div class="row form-group">
                                            <div class="col-md-4">
                                                <strong>Contact number</strong>
                                            </div>
                                            <div class="col-md-8">
                                                    {{details.contact}}
                                            </div>
                                       </div>


                                      </div>
                                  </div>
                              </div>
                          </div>  
                            

                           
                    </div>
              </div>
            </div>
                
             
            
               
            </div>
        </div>     
     </div> 
      <!--end //container -->
    