.style-home-border{
    border:solid 2px #800000;
    border-radius: 10px;
}
.style-header-menu{
    background: #800000;
    color: #fff;
}
.style-media-size{
    @media (min-width: 768px) { 
       
        font-size:10px;
        

    }
}