
        
    <div class="container">
        <app-header></app-header>
         
        <div class="row mt-5">
            <div class="col-lg-4 col-md-4">
                <!-- //my menus goes here -->
                    <app-barside></app-barside> 
            </div>
            <div class="col-lg-8 col-md-8">
                <!-- //main content goes here -->
              
                      <div class="card">
                          <div class="card-header style-form-back">Company Management</div>
                          <div class="card-body">
                            <form [formGroup]="cmform">
                            <div class="row form-group">
                                <div class="col-md-3"><label for="" class="col-form-label">User type number</label></div>
                                <div class="col-md-6"><input type="text" formControlName="utnumber" [ngClass]="{
                                    'form-control': true,
                                    'is-invalid': !cmform.controls['utnumber'].valid && cmform.controls['utnumber'].touched,
                                    'is-valid': cmform.controls['utnumber'].valid }" 
                               name="utnumber" class="form-control"></div>
                               <div class="text-danger" *ngIf="utnumber.errors?.required && utnumber.touched">Fields are required</div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3"><label for="" class="col-form-label">User type</label></div>
                                <div class="col-md-6">
                                   <select name="" id="" formControlName="usertype" [ngClass]="{
                                    'form-control': true,
                                    'is-invalid': !cmform.controls['usertype'].valid && cmform.controls['usertype'].touched,
                                    'is-valid': cmform.controls['usertype'].valid }" 
                               name="usertype" class="form-control">
                                       <optgroup label="Select user type">
                                        <option value="Administrator">Administrator</option>
                                        <option value="Staff">Staff</option>
                                        <option value="Client">Client</option>
                                       </optgroup>
                                   </select>
                                </div>
                                <div class="text-danger" *ngIf="usertype.errors?.required && usertype.touched">Fields are required</div>
                            </div>
                            <div class="row  form-group">
                                    <div class="col-md-3"><label for="" class="col-form-label">Firstname</label></div>
                                    <div class="col-md-6"><input type="text" formControlName="firstname" [ngClass]="{
                                        'form-control': true,
                                        'is-invalid': !cmform.controls['firstname'].valid && cmform.controls['firstname'].touched,
                                        'is-valid': cmform.controls['firstname'].valid }" 
                                   name="firstname" class="form-control"></div>
                                   <div class="text-danger" *ngIf="firstname.errors?.required && firstname.touched">Fields are required</div>
                                </div>
                             <div class="row  form-group">
                                    <div class="col-md-3"><label for="" class="col-form-label">Middlename</label></div>
                                    <div class="col-md-6"><input type="text" formControlName="middlename" [ngClass]="{
                                        'form-control': true,
                                        'is-invalid': !cmform.controls['middlename'].valid && cmform.controls['middlename'].touched,
                                        'is-valid': cmform.controls['middlename'].valid }" 
                                   name="middlename" class="form-control"></div>
                                   <div class="text-danger" *ngIf="middlename.errors?.required && middlename.touched">Fields are required</div>
                                </div>
                            <div class="row  form-group">
                                    <div class="col-md-3"><label for="" class="col-form-label">Description</label></div>
                                    <div class="col-md-6"><input type="text" formControlName="description" [ngClass]="{
                                        'form-control': true,
                                        'is-invalid': !cmform.controls['description'].valid && cmform.controls['description'].touched,
                                        'is-valid': cmform.controls['description'].valid }" 
                                   name="description" class="form-control"></div>
                                   <div class="text-danger" *ngIf="description.errors?.required && description.touched">Fields are required</div>
                                </div>
                                
                                <div class="row form-group">
                                    <div class="col-md-8"> </div>
                                    <div class="col-md-4">
                                        <button type="submit" 
                                [disabled]="cmform.pristine || cmform.invalid" 
                                class="btn btn-primary btn-block" (click)="submituser()" title="Click the button to register the information"><i class="fa fa-plus-circle mr-2"></i>Save news</button>
                                    </div>
                                </div>
 </form>

                         </div>
                         
                      </div>
                   
             
            
               
            </div>
        </div>     
     </div> 
      <!--end //container -->
   