


    <div class="container">
        <app-header></app-header>
         
        <div class="row mt-5">
            <div class="col-lg-4 col-md-4">
                <!-- //my menus goes here -->
                    <app-barside></app-barside>
            </div>
            <div class="col-lg-8 col-md-8">
                <!-- //main content goes here -->
                <div *ngIf="cmdetails">
                      <div class="card">
                          <div class="card-header style-head-back"><i class="fa fa-user mr-2"></i>User information Details</div>
                          <div class="card-body">
                          <div class="row form-group">
                              <div class="col-md-10"></div>
                              <div class="col-md-2">
                                  <button class="btn btn-info btn-block btn-md"><i class="fa fa-file-pdf mr-2"></i>PDF</button>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="card">
                                      <div class="card-body">

                                 
                                        <!--  -->

                                        <div class="row form-group">
                                                <div class="col-md-4">
                                                    <strong>Usetype number</strong>
                                                </div>
                                                <div class="col-md-8">
                                                        {{cmdetails.utnumber}}
                                                </div>
                                       </div>

                                       <div class="row form-group">
                                                <div class="col-md-4">
                                                    <strong>User type</strong>
                                                </div>
                                                <div class="col-md-8">
                                                        {{cmdetails.usertype}}
                                                </div>
                                       </div>
                                       <div class="row form-group">
                                                <div class="col-md-4">
                                                    <strong>Firstname</strong>
                                                </div>
                                                <div class="col-md-8">
                                                        {{cmdetails.firstname}}
                                                </div>
                                       </div>
                                       <div class="row form-group">
                                                <div class="col-md-4">
                                                    <strong>Middlename</strong>
                                                </div>
                                                <div class="col-md-8">
                                                        {{cmdetails.middlename}}
                                                </div>
                                       </div>
                                       <div class="row form-group">
                                                <div class="col-md-4">
                                                    <strong>Description</strong>
                                                </div>
                                                <div class="col-md-8">
                                                        {{cmdetails.description}}
                                                </div>
                                       </div>
                                        
                                       <!--  -->

                                    
                                     
                                    

                                      </div>
                                  </div>
                              </div>
                          </div>  
                            

                           
                    </div>
              </div>
            </div>
                
             
            
               
            </div>
        </div>     
     </div> 
      <!--end //container -->
    