<div class="container">

    <div class="fixed-top">
            <app-header></app-header>
    </div>
         
        <div class="row mt-5">
            <div class="col-lg-4 col-md-4">
                <!-- //my menus goes here -->
                    <app-barside></app-barside>
            </div>
            <div class="col-lg-8 col-md-8">
                <!-- //main content goes here -->
              
               <div class="row">
                 <div class="col-sm-6 col-md-12"><app-home></app-home></div>
                   <div class="col-sm-6 col-md-12"><app-dashboard></app-dashboard></div>
               </div>
                
             
            
               
            </div>
        </div>     
     </div> 
      <!--end //container -->

