
        
    <div class="container">
        <app-header></app-header>
         
        <div class="row mt-5">
            <div class="col-lg-4 col-md-4">
                <!-- //my menus goes here -->
                    <app-barside></app-barside>
            </div>
            <div class="col-lg-8 col-md-8">
                <!-- //main content goes here -->
          
                      <div class="card">
                          <div class="card-header style-head-back">Image</div>
                          <div class="card-body">
                            <!-- start -->
                           

                            <!-- end -->
                        </div>
                    </div>
                
             
            
               
            </div>
        </div>     
     </div> 
      <!--end //container -->
    

    