
        
    <div class="container">
        <app-header></app-header>
         
        <div class="row mt-5">
            <div class="col-lg-4 col-md-4">
                <!-- //my menus goes here -->
                <div class="row form-group">
                    <div class="col-md-12">
                                    <div class="card" style=" background: #800000; color:#fff">
                                        <div class="card-body" >
                                           <div align="center">MENU</div>
                                        </div>
                                    </div>
                    </div>
                </div>
            
                <div class="row form-group">
                    <div class="col-md-12">

                                   <ul class="list-group">
                                    <a routerLink="/infodetails"><li class="list-group-item" style="color: black"><i class="fa fa-list-alt mr-2"></i>User Information details</li></a>
                                    <a routerLink="/newsdetails"><li class="list-group-item " style="background: #800000; color:#fff;"><i class="fa fa-list-alt mr-2"></i>News details</li></a>
                                    <!-- <a routerLink="/add-image"><li class="list-group-item style-hover-back"><i class="fa fa-image mr-2"></i>Add image</li></a> -->
                                    <a routerLink="/leavedetails"><li class="list-group-item " style="color: black;"><i class="fa fa-list-alt mr-2"></i>Leave Details</li></a>
                                    <a routerLink="/cmdetails"><li class="list-group-item " style="color: black;"><i class="fa fa-list-alt mr-2"></i>Company Management</li></a>
                                     </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <!-- //main content goes here -->
              
                      <div class="card">
                          <div class="card-header style-head-back">News details</div>
                          <div class="card-body">
                            <div>
                             
                              <div class="row form-group">
                                <div class="col-md-8"></div>
                                <div class="col-md-4">
                                  <div>
                                    <a routerLink="/addnews"><button type="button" class="btn btn-block btn-info"><i class="fa fa-times-circle mr-2"></i>Add news</button></a>
                                  </div>
                                </div>
                              </div>
                               <div class="row">
                                   <div class="col-md-12">   
                                <table class="table table-bordered table-hover" id="myTable">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>News_no</th>
                                            <th>Subject</th>
                                            <th>Fullname</th> 
                                            <th>Status</th> 
                                            <th>Action</th> 
                                        </tr>
                                    </thead>
                                    <tbody class="style-xm">
                                        <tr *ngFor="let newsdetails of news">
                                            <td>{{newsdetails.id}}</td>
                                            <td>{{newsdetails.news_no}}</td>
                                            <td>{{newsdetails.subject}}</td>
                                            <td>{{newsdetails.firstname}}&nbsp;{{newsdetails.middlename}}&nbsp;{{newsdetails.lastname}} </td>
                                            <td>{{newsdetails.status}}</td>
                                            <td>

                                                    <div class="btn-group btn-group-sm" >
                                                            <a [routerLink]="['/newsspecificinfo', newsdetails.id]"><button title="Information" type="button" class="btn btn-success" ><i class="fa fa-question mr-1"></i></button></a>
                                                            <button title="Edit" type="button" class="btn btn-primary" (click)="edit(newsdetails.id)" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-edit mr-1"></i></button>
                                                            <button title="Delete" type="button" class="btn btn-danger" (click)="delete(newsdetails.id)"><i class="fa fa-trash mr-1"></i></button>
                                                            
                                                     </div>
                                              
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                               
                            <!-- //row -->


                            </div>
                          </div>
                         
<!--                           
                          <hr>
                          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                            
                              <ng-container matColumnDef="id">
                                  <th mat-header-cell *matHeaderCellDef>id</th>
                                  <td mat-cell *matCellDef="let row">{{row.id}} </td>
                              </ng-container>

                              <ng-container matColumnDef="date">
                                  <th mat-header-cell *matHeaderCellDef>date</th>
                                  <td mat-cell *matCellDef="let row">{{row.date}} </td>
                              </ng-container>

                              <ng-container matColumnDef="news_no">
                                  <th mat-header-cell *matHeaderCellDef>News no</th>
                                  <td mat-cell *matCellDef="let row">{{row.news_no}} </td>
                              </ng-container>

                              <ng-container matColumnDef="subject">
                                  <th mat-header-cell *matHeaderCellDef>Subject</th>
                                  <td mat-cell *matCellDef="let row">{{row.subject}} </td>
                              </ng-container>

                              <ng-container matColumnDef="descrip">
                                  <th mat-header-cell *matHeaderCellDef>Description</th>
                                  <td mat-cell *matCellDef="let row">{{row.descrip}} </td>
                              </ng-container>
                              
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
                            
                          </table> -->
                          <!--  -->
                      </div>
                  </div>
              </div>
                
             
            
               
            </div>
        </div>     
     </div> 
      <!--end //container -->
    
     <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header style-head-back">
        <h5 class="modal-title" id="exampleModalLabel">Your information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <!-- form -->
        
      <div class="row">
          
          <div class="col-md-12">
              <!-- start -->
      <form [formGroup]="newsform">
              <div *ngIf="news_details">
                  
                <div class="row form-group">
                  <div class="col-md-1"></div>
                  <div class="col-md-3">
                      <label class="col-form-label"><strong>Date</strong></label>
                  </div>
                  <div class="col-md-7">
                      <input type="date" class="form-control" name="date"
                      formControlName="date"
                      [ngClass]="{
                          'form-control': true,
                          'is-invalid': !newsform.controls['date'].valid && newsform.controls['date'].touched,
                          'is-valid': newsform.controls['date'].valid }" >
                  <div class="text-danger" *ngIf="date.errors?.required && date.touched">Fields are required</div>
                  </div>
              </div>

      <div class="row form-group">
          <div class="col-md-1"></div>
          <div class="col-md-3">
              <label class="col-form-label"><strong>News no.</strong></label>
          </div>
          <div class="col-md-7">
              <input type="text" class="form-control" name="news_no"
              formControlName="news_no"
              [ngClass]="{
                  'form-control': true,
                  'is-invalid': !newsform.controls['news_no'].valid && newsform.controls['news_no'].touched,
                  'is-valid': newsform.controls['news_no'].valid }" >
          <div class="text-danger" *ngIf="news_no.errors?.required && news_no.touched">Fields are required</div>
          
          <div class="text-danger" *ngIf="news_no.errors?.pattern && news_no.touched">Only Numbers</div>
      </div>
      </div>
      
      <div class="row form-group">
          <div class="col-md-1"></div>
              <div class="col-md-3">
                  <label class="col-form-label"><strong>Subject</strong></label>
              </div>
              <div class="col-md-7">
                  <input type="text" class="form-control"
                  name="subject"
                  formControlName="subject"
                  [ngClass]="{
                      'form-control': true,
                      'is-invalid': !newsform.controls['subject'].valid && newsform.controls['subject'].touched,
                      'is-valid': newsform.controls['subject'].valid }">
                      <div class="text-danger" *ngIf="subject.errors?.required && subject.touched">Fields are required</div>
                       
              </div>
          </div>

          <div class="row form-group">
            <div class="col-md-1"></div>
            <div class="col-md-3"> <label class="col-form-label"><strong>Description</strong></label>
            </div>
            <div class="col-md-7">
               <textarea name="descrip"
               formControlName="descrip"
               [ngClass]="{
                   'form-control': true,
                   'is-invalid': !newsform.controls['descrip'].valid && newsform.controls['descrip'].touched,
                   'is-valid': newsform.controls['descrip'].valid }"
                id="" cols="30" rows="10" class="form-control"></textarea>
                <div class="text-danger" *ngIf="descrip.errors?.required && descrip.touched">Fields are required</div>    
            </div>
        </div>
             
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle mr-2"></i>Close</button>
                  <button type="submit" 
                           [disabled]="newsform.invalid" 
                           class="btn btn-primary" (click)="submitForm(news_details)" title="Click the button to register the information"><i class="fa fa-plus-circle mr-2"></i>Register</button>
                </div>
              </div> 
           </form>
             
              
              
  
              <!-- end -->
          </div>
      </div>
   
  
      <!-- end form -->
  
    
      <!--  -->
    </div>
  </div>
  </div>
  
