.style-home-border{
  border:solid 2px #800000;
  border-radius: 10px;
}
.style-header-menu{
  background: #800000;
  color: #fff;
}

    @media (min-width:992px) { 
       
        .style-media-size{
          font-size:12px;
          color:black;
        }
        

    }

    @media (min-width: 768px) { 
       
      .style-media-size{
        font-size:14px;
        color:yellow;
      }
      

  }
  
