
        
    <div class="container">
        <app-header></app-header>
         
        <div class="row mt-5">
            <div class="col-lg-4 col-md-4">
                <!-- //my menus goes here -->
                <div class="row form-group">
                  <div class="col-md-12">
                                  <div class="card" style=" background: #800000; color:#fff">
                                      <div class="card-body" >
                                         <div align="center">MENU</div>
                                      </div>
                                  </div>
                  </div>
              </div>
          
              <div class="row form-group">
                  <div class="col-md-12">

                                 <ul class="list-group">
                                  <a routerLink="/infodetails"><li class="list-group-item" style="color: black"><i class="fa fa-list-alt mr-2"></i>User Information details</li></a>
                                  <a routerLink="/newsdetails"><li class="list-group-item " style="color: black" ><i class="fa fa-list-alt mr-2"></i>News details</li></a>
                                  <!-- <a routerLink="/add-image"><li class="list-group-item style-hover-back"><i class="fa fa-image mr-2"></i>Add image</li></a> -->
                                  <a routerLink="/leavedetails"><li class="list-group-item " style="background: #800000; color:#fff;"><i class="fa fa-list-alt mr-2"></i>Leave Details</li></a>
                                  <a routerLink="/cmdetails"><li class="list-group-item " style="color: black;"><i class="fa fa-list-alt mr-2"></i>Company Management</li></a>
                                   </ul>
                  </div>
              </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <!-- //main content goes here -->
              
                      <div class="card">
                          <div class="card-header style-head-back">News details</div>
                          <div class="card-body">
                            <div>
                             
                              <div class="row form-group">
                                <div class="col-md-8"></div>
                                <div class="col-md-4">
                                  <div>
                                    <a routerLink="/leaveform"><button type="button" class="btn btn-block btn-info"><i class="fa fa-times-circle mr-2"></i>Add news</button></a>
                                  </div>
                                </div>
                              </div>
                              
                              <mat-form-field>
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                              </mat-form-field>
                              

                                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                            
                                      <ng-container matColumnDef="id">
                                          <th mat-header-cell *matHeaderCellDef>id</th>
                                          <td mat-cell *matCellDef="let row">{{row.id}} </td>
                                      </ng-container>
        
                                      <ng-container matColumnDef="ltno">
                                          <th mat-header-cell *matHeaderCellDef>date</th>
                                          <td mat-cell *matCellDef="let row">{{row.ltno}} </td>
                                      </ng-container>
        
                                      <ng-container matColumnDef="ldfrom">
                                          <th mat-header-cell *matHeaderCellDef>News no</th>
                                          <td mat-cell *matCellDef="let row">{{row.ldfrom}} </td>
                                      </ng-container>
        
                                      <ng-container matColumnDef="ldto">
                                          <th mat-header-cell *matHeaderCellDef>Subject</th>
                                          <td mat-cell *matCellDef="let row">{{row.ldto}} </td>
                                      </ng-container>
        
                                      <ng-container matColumnDef="reason">
                                          <th mat-header-cell *matHeaderCellDef>Description</th>
                                          <td mat-cell *matCellDef="let row">{{row.reason}} </td>
                                      </ng-container>

                                      <ng-container  matColumnDef="actions">
                                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                                        <td *matCellDef="let row" >
                                          <a [routerLink]="['/leavespecific', row.id]"><button title="Information" type="button" class="btn btn-success" ><i class="fa fa-question mr-1"></i></button></a>
                                          <button title="Edit" title="Information" type="button" class="btn btn-info"  (click)="openDialog(row.id)"><i class="fa fa-edit mr-1"></i></button>
                                          <button title="Delete" type="button" class="btn btn-danger" (click)="delete(row.id)"><i class="fa fa-trash mr-1"></i></button>
                                        </td>
                                    </ng-container>

                                     


                                      
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
                                  
                                  </table>
                                    <mat-paginator [length]="100"
                                                  [pageSize]="10"
                                                  [pageSizeOptions]="[5, 10, 25, 100]">
                                    </mat-paginator>


                            
                          <!--  -->
                         
                      </div>
                  </div>
              </div>
                
             
            
               
            </div>
        </div>     
     </div> 
      <!--end //container -->
   