<div class="">
    
    <div class="row form-group">
        <div class="col-md-12">
                <div class="style-01">
                        <div class="card" style=" background: #800000;">
                            <div class="card-body" >
                                MENUS
                            </div>
                        </div>
                 </div>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-12">
                <ul class="list-group ">
                        
                        
                        <a routerLink="/infodetails"><li class="list-group-item style-hover-back"><i class="fa fa-list-alt mr-2"></i>User Information details</li></a>
                        <a routerLink="/newsdetails"><li class="list-group-item style-hover-back"><i class="fa fa-list-alt mr-2"></i>News details</li></a>
                        <!-- <a routerLink="/add-image"><li class="list-group-item style-hover-back"><i class="fa fa-image mr-2"></i>Add image</li></a> -->
                        <a routerLink="/leavedetails"><li class="list-group-item style-hover-back"><i class="fa fa-list-alt mr-2"></i>Leave Details</li></a>
                        <a routerLink="/cmdetails"><li class="list-group-item style-hover-back"><i class="fa fa-list-alt mr-2"></i>Company Management</li></a>
                        

                    </ul>
        </div>
    </div>

</div>