.style-01{
    text-align: center;
    /* -moz-box-shadow: 5px 5px 5px #777777;
    -webkit-box-shadow: 5px 5px 5px #777777;
     box-shadow: 3px 3px 3px 3px #777777; */
    color: #fff;
   
}

a:link{
    text-decoration: none;
}


.style-hover-back:hover{
    background: #ef9a9a;
    color:#fff;
    font-size: 18px;
   
}

a{
    color:black;
}
