
    <div class="container">
        <app-header></app-header>
         
        <div class="row mt-5">
            <div class="col-lg-4 col-md-4">
                <!-- //my menus goes here -->
                    <app-barside></app-barside>
            </div>
            <div class="col-lg-8 col-md-8">
                <!-- //main content goes here -->
              <div class="row">
                  <div class="col-md-12">
                      <div class="card">
                          <div class="card-header style-form-back"><i class="fa fa-plus-circle mr-2"></i>Personal information</div>
                          <div class="card-body">
                            <form [formGroup]="reactForm">
                             <div class="row form-group">
                                 <div class="col-md-3 ">
                                   <label for="" class="col-form-label style-label">Firstname</label>
                                 </div>
                                 <div class="col-md-6">
                                    <input type="text" formControlName="fname"
                                     [ngClass]="{
                                         'form-control': true,
                                         'is-invalid': !reactForm.controls['fname'].valid && reactForm.controls['fname'].touched,
                                         'is-valid': reactForm.controls['fname'].valid }" 
                                    name="fname"> 
                                    <div class="text-danger" *ngIf="fname.errors?.required && fname.touched">Fields are required</div>
                                    <div class="text-danger" *ngIf="fname.errors?.minlength && fname.touched">Minimum lenghth is 2</div>
                                    <!-- <div *ngIf="!reactForm.controls['fname'].invalid" class="text-success">Success</div>
                                    <div class="text-danger" *ngIf="!reactForm.controls['fname'].valid && !reactForm.controls['fname'].untouched">Required</div> 
                             -->
                                   
                                 </div>
                               
                             </div>
                             <div class="row form-group">
                                    <div class="col-md-3 ">
                                      <label for="" class="col-form-label style-label">Middlename</label>
                                    </div>
                                    <div class="col-md-6">
                                       <input type="text"  formControlName="mname" 
                                       [ngClass]="{
                                        'form-control': true,
                                        'is-invalid': !reactForm.controls['mname'].valid && reactForm.controls['mname'].touched,
                                        'is-valid': reactForm.controls['mname'].valid }" 
                                   
                                       name="mname" >
                                       <div class="text-danger" *ngIf="mname.errors?.required && mname.touched">Fields are required</div>
                                       <div class="text-danger" *ngIf="mname.errors?.minlength && mname.touched">Minimum lenghth is 2</div>
                                    </div>

                            </div>
                            <div class="row form-group">
                                    <div class="col-md-3 ">
                                      <label for="" class="col-form-label style-label">Lastname</label>
                                    </div>
                                    <div class="col-md-6">
                                       <input type="text" formControlName="lname"
                                       [ngClass]="{
                                        'form-control': true,
                                        'is-invalid': !reactForm.controls['lname'].valid && reactForm.controls['lname'].touched,
                                        'is-valid': reactForm.controls['lname'].valid }" 
                                       name="lname" class="form-control" >
                                       <div class="text-danger" *ngIf="lname.errors?.required && lname.touched">Fields are required</div>
                                       <div class="text-danger" *ngIf="lname.errors?.pattern && lname.touched">Characters only</div>
                                    </div>
                                </div>
<!--  -->
                                <div class="row form-group">
                                    <div class="col-md-3 ">
                                      <label for="" class="col-form-label style-label">Birthday</label>
                                    </div>
                                    <div class="col-md-6">
                                       <input type="text"
                                       formControlName="bday"
                                       [ngClass]="{
                                        'form-control': true,
                                        'is-invalid': !reactForm.controls['bday'].valid && reactForm.controls['bday'].touched,
                                        'is-valid': reactForm.controls['bday'].valid }" 
                                        name="bday" placeholder="mm/dd/yyyy">
                                       <div class="text-danger" *ngIf="bday.errors?.required && bday.touched">Fields are required</div>
                                       <div class="text-danger" *ngIf="bday.errors?.pattern && bday.touched">Date format is invalid</div>
                                    </div>
                                </div>
                                <!-- // -->
                                <div class="row form-group">
                                  <div class="col-md-3 ">
                                    <label for="" class="col-form-label style-label">Gender</label>
                                  </div>
                                  <div class="col-md-6">
                                     <select name="gender" id=""
                                     formControlName="gender"
                                     [ngClass]="{
                                      'form-control': true,
                                      'is-invalid': !reactForm.controls['gender'].valid && reactForm.controls['gender'].touched,
                                      'is-valid': reactForm.controls['gender'].valid }" 
                                      class="form-control">
                                       <option  value=""></option>
                                       <option value="Female">Female</option>
                                       <option value="Male">Male</option>
                                     </select>
                                     <div class="text-danger" *ngIf="gender.errors?.required && gender.touched">Fields are required</div>
                                  </div>
                              </div>
                              <div class="row form-group">
                                <div class="col-md-3 ">
                                  <label for="" class="col-form-label style-label">Password</label>
                                </div>
                                <div class="col-md-6">
                                   <input type="password"
                                   formControlName="password"
                                     [ngClass]="{
                                      'form-control': true,
                                      'is-invalid': !reactForm.controls['password'].valid && reactForm.controls['password'].touched,
                                      'is-valid': reactForm.controls['password'].valid }"
                                      name="password" placeholder="">
                                   <div class="text-danger" *ngIf="password.errors?.required && password.touched">Fields are required</div>
                                </div>
                            </div>

                            <div class="row form-group">
                              <div class="col-md-3 ">
                                <label for="" class="col-form-label style-label">Contact no.</label>
                              </div>
                              <div class="col-md-6">
                                 <input type="text" name="contact"
                                 formControlName="contact"
                                     [ngClass]="{
                                      'form-control': true,
                                      'is-invalid': !reactForm.controls['contact'].valid && reactForm.controls['contact'].touched,
                                      'is-valid': reactForm.controls['contact'].valid }"
                                 placeholder="" name="contact">
                                 <div class="text-danger" *ngIf="contact.errors?.required && contact.touched">Fields are required</div>
                                 <div class="text-danger" *ngIf="contact.errors?.pattern && contact.touched">Contact number is invalid format</div>
                              </div>
                           </div>

                        

                              <!--  -->


                             <!-- form-submit-btn -->
                                <div class="row form-group">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-3">
                                      <button type="button" class="btn btn-danger btn-block"><i class="fa fa-times-circle mr-2"></i>Cancel</button>
                                    </div> 
                                    <div class="col-md-3">
                                    <button type="submit" 
                                    [disabled]="reactForm.pristine || reactForm.invalid" 
                                    class="btn btn-primary btn-block" (click)="submitForm()" title="Click the button to register the information"><i class="fa fa-plus-circle mr-2"></i>Register</button>
                                    </div>
                                </div> 
                             <!--end btn submit  -->
                           </form>
                          </div>
                      </div>
                  </div>
              </div>
                
             
            
               
            </div>
        </div>     
     </div> 
      <!--end //container -->
    