.style-form-back{
    background: #800000;
    color: #fff;
}
.style-full-back{
    background: aqua;
    height: 100%;
    width: 100px;
}
.style-label{

    color:#800000;
    font-weight: bold;
}

