<div class="container">
    <app-header></app-header>
     
    <div class="row mt-5">
        <div class="col-lg-4 col-md-4">
            <!-- //my menus goes here -->
            <div class="row form-group">
              <div class="col-md-12">
                              <div class="card" style=" background: #800000; color:#fff">
                                  <div class="card-body" >
                                     <div align="center">MENU</div>
                                  </div>
                              </div>
              </div>
          </div>
      
          <div class="row form-group">
              <div class="col-md-12">

                             <ul class="list-group">
                              <a routerLink="/infodetails"><li class="list-group-item" style="background: #800000; color:#fff;"><i class="fa fa-list-alt mr-2"></i>User Information details</li></a>
                              <a routerLink="/newsdetails"><li class="list-group-item " style="color: black" ><i class="fa fa-list-alt mr-2"></i>News details</li></a>
                              <!-- <a routerLink="/add-image"><li class="list-group-item style-hover-back"><i class="fa fa-image mr-2"></i>Add image</li></a> -->
                              <a routerLink="/leavedetails"><li class="list-group-item "  style="color: black"  ><i class="fa fa-list-alt mr-2"></i>Leave Details</li></a>
                              <a routerLink="/cmdetails"><li class="list-group-item " style="color: black;"><i class="fa fa-list-alt mr-2"></i>Company Management</li></a>
                               </ul>
              </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-8">
            <!-- //main content goes here -->
          
                  <div class="card">
                      <div class="card-header style-head-back">Personal information details</div>
                      <div class="card-body">
                        <div>
                          <!-- <div class="row form-group">
                            <div class="col-md-12">
                              <div class="">
                                  <div class="input-group">
                                      <input type="text" class="style-search" aria-label="Recipient's username" aria-describedby="button-addon2">
                                      <div class="input-group-append">
                                        <button class="btn btn-outline-primary" type="button" id="button-addon2"><i class="fa fa-search mr-1"></i>Search</button>
                                      </div>
                                    </div>
                              </div>
                            </div>
                          </div> -->

                          <div class="row form-group">
                            <div class="col-md-8"></div>
                            <div class="col-md-4">
                              <div>
                                <a routerLink="/form"><button type="button" class="btn btn-block btn-info"><i class="fa fa-times-circle mr-2"></i>Add user</button></a>
                              </div>
                            </div>
                          </div>

                           <div class="row">
                               <div class="col-md-12">   
                            <table class="table table-bordered table-hover" id="myTable">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Firstname</th>
                                        <th>Middlename</th>
                                        <th>Lastname</th> 
                                        <th>Status</th> 
                                        <th>Action</th> 
                                    </tr>
                                </thead>
                                <tbody class="style-xm">
                                    <tr *ngFor="let employee of employees.message">
                                        <td>{{employee.id}}</td>
                                        <td [ngStyle]="{'color': getcolor(employee.fname)}">{{employee.fname}}</td>
                                        <!-- <td>{{employee.fname}}</td> -->
                                        <td>{{employee.mname}}</td>
                                        <td>{{employee.lname}}</td>
                                        <td>{{employee.status}}</td>
                                        <td>

                                                <div class="btn-group btn-group-sm" >
                                                        <a [routerLink]="['/infospecific', employee.id]"><button title="Information" type="button" class="btn btn-success" ><i class="fa fa-question mr-1"></i></button></a>
                                                        <button title="Edit" type="button" class="btn btn-primary" (click)="edit(employee.id)" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-edit mr-1"></i></button>
                                                        <button title="Delete" type="button" class="btn btn-danger" (click)="delete(employee.id)"><i class="fa fa-trash mr-1"></i></button>
                                                        
                                                 </div>
                                            <!-- [routerLink]="['/infospecific', employee.id]" -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                          
                              
                        <!-- //row -->


                        </div>
                      </div>
                     <!-- <div class="row">
                       <div class="col-md-12">
                        <div class="style-paginate">
                          <ul>
                            <li><a href=""><i class="fa fa-chevron-circle-left mr-1 "></i>Prev</a></li>
                            <li class="linumber"><a href="">1</a></li>
                            <li class="linumber"><a href="">2</a></li>
                            <li class="linumber"><a href="">3</a></li>
                            <li class="linumber"><a href="">4</a></li>
                            <li class="linumber"><a href="">5</a></li>
                            <li class="linumber"><a href="">6</a></li>
                            <li class="linumber"><a href="">7</a></li>
                            <li><a href="">Next<i class="fa fa-chevron-circle-right ml-1 "></i></a></li>
                          </ul>
                         </div> 
                       </div>
                     </div>   -->
                  </div>
              </div>
          </div>
            
         
        
           
        </div>
    </div>     
 </div> 
  <!--end //container -->


 <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header style-head-back">
      <h5 class="modal-title" id="exampleModalLabel">Your information</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    <!-- form -->
      
    <div class="row">
        
        <div class="col-md-12">
            <!-- start -->
    <form [formGroup]="formreact">
            <div *ngIf="details">
                <div class="row form-group">
                    <div class="col-md-3 ">
                      <label for="" class="col-form-label style-label"><strong>Firstname</strong></label>
                    </div>
                    <div class="col-md-6">
                       <input type="text" formControlName="fname"
                        [ngClass]="{
                            'form-control': true,
                            'is-invalid': !formreact.controls['fname'].valid && formreact.controls['fname'].touched,
                            'is-valid': formreact.controls['fname'].valid }" 
                       name="fname"  > 
                       <div class="text-danger" *ngIf="fname.errors?.required && fname.touched">Fields are required</div>
                       <div class="text-danger" *ngIf="fname.errors?.minlength && fname.touched">Minimum lenghth is 2</div>
                       <!-- <div *ngIf="!reactForm.controls['fname'].invalid" class="text-success">Success</div>
                       <div class="text-danger" *ngIf="!reactForm.controls['fname'].valid && !reactForm.controls['fname'].untouched">Required</div> 
                -->
                      
                    </div>
                  
                </div>
        
                <div class="row form-group">
                       <div class="col-md-3 ">
                         <label for="" class="col-form-label style-label"><strong>Middlename</strong></label>
                       </div>
                       <div class="col-md-6">
                          <input type="text"  formControlName="mname" 
                          [ngClass]="{
                           'form-control': true,
                           'is-invalid': !formreact.controls['mname'].valid && formreact.controls['mname'].touched,
                           'is-valid': formreact.controls['mname'].valid }" 
                           name="mname" >
                          <div class="text-danger" *ngIf="mname.errors?.required && mname.touched">Fields are required</div>
                          <div class="text-danger" *ngIf="mname.errors?.minlength && mname.touched">Minimum lenghth is 2</div>
                       </div>

               </div>
               <div class="row form-group">
                       <div class="col-md-3 ">
                         <label for="" class="col-form-label style-label"><strong>Lastname</strong></label>
                       </div>
                       <div class="col-md-6">
                          <input type="text" formControlName="lname"
                          [ngClass]="{
                           'form-control': true,
                           'is-invalid': !formreact.controls['lname'].valid && formreact.controls['lname'].touched,
                           'is-valid': formreact.controls['lname'].valid }" 
                          name="lname"   >
                          <div class="text-danger" *ngIf="lname.errors?.required && lname.touched">Fields are required</div>
                          <div class="text-danger" *ngIf="lname.errors?.pattern && lname.touched">Characters only</div>
                       </div>
                   </div>
<!--  -->
                   <div class="row form-group">
                       <div class="col-md-3 ">
                         <label for="" class="col-form-label style-label"><strong>Birthday</strong></label>
                       </div>
                       <div class="col-md-6">
                          <input type="text"
                          formControlName="bday"
                          [ngClass]="{
                           'form-control': true,
                           'is-invalid': !formreact.controls['bday'].valid && formreact.controls['bday'].touched,
                           'is-valid': formreact.controls['bday'].valid }" 
                           name="bday" placeholder="mm/dd/yyyy" >
                          <div class="text-danger" *ngIf="bday.errors?.required && bday.touched">Fields are required</div>
                          <div class="text-danger" *ngIf="bday.errors?.pattern && bday.touched">Date format is invalid</div>
                       </div>
                   </div>
                   <!-- // -->
                   <div class="row form-group">
                     <div class="col-md-3 ">
                       <label for="" class="col-form-label style-label"><strong>Gender</strong></label>
                     </div>
                     <div class="col-md-6">
                        <select name="gender" id=""
                        formControlName="gender"
                        [ngClass]="{
                         'form-control': true,
                         'is-invalid': !formreact.controls['gender'].valid && formreact.controls['gender'].touched,
                         'is-valid': formreact.controls['gender'].valid }" 
                         class="form-control">
                          <option  value=""></option>
                          <option value="Female">Female</option>
                          <option value="Male">Male</option>
                        </select>
                        <div class="text-danger" *ngIf="gender.errors?.required && gender.touched">Fields are required</div>
                     </div>
                 </div>
                 <div class="row form-group">
                   <div class="col-md-3 ">
                     <label for="" class="col-form-label style-label"><strong>Password</strong></label>
                   </div>
                   <div class="col-md-6">
                      <input type="password"
                      formControlName="password"
                        [ngClass]="{
                         'form-control': true,
                         'is-invalid': !formreact.controls['password'].valid && formreact.controls['password'].touched,
                         'is-valid': formreact.controls['password'].valid }"
                         name="password" placeholder="" >
                      <div class="text-danger" *ngIf="password.errors?.required && password.touched">Fields are required</div>
                   </div>
               </div>

               <div class="row form-group">
                 <div class="col-md-3 ">
                   <label for="" class="col-form-label style-label"><strong>Contact no.</strong></label>
                 </div>
                 <div class="col-md-6">
                    <input type="text" name="contact"
                    formControlName="contact"
                        [ngClass]="{
                         'form-control': true,
                         'is-invalid': !formreact.controls['contact'].valid && formreact.controls['contact'].touched,
                         'is-valid': formreact.controls['contact'].valid }"
                    placeholder="" name="contact">
                    <div class="text-danger" *ngIf="contact.errors?.required && contact.touched">Fields are required</div>
                    <div class="text-danger" *ngIf="contact.errors?.pattern && contact.touched">Contact number is invalid format</div>
                 </div>
              </div>

           
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle mr-2"></i>Close</button>
                <button type="submit" 
                         [disabled]="formreact.invalid" 
                         class="btn btn-primary" (click)="submitForm(details)" title="Click the button to register the information"><i class="fa fa-plus-circle mr-2"></i>Register</button>
              </div>
            </div> 
         </form>
           
            
            

            <!-- end -->
        </div>
    </div>
 

    <!-- end form -->

  
    <!--  -->
  </div>
</div>
</div>
