
        
    <div class="container">
        <app-header></app-header>
         
        <div class="row mt-5">
            <div class="col-lg-4 col-md-4">
                <!-- //my menus goes here -->
                    <app-barside></app-barside>
            </div>
            <div class="col-lg-8 col-md-8">
                <!-- //main content goes here -->
          
                      <div class="card">
                          <div class="card-header style-head-back">News</div>
                          <div class="card-body">
                            <!-- start -->

                                <form [formGroup]="newsform">

                                        <div class="row form-group">
                                                <div class="col-md-2">
                                                    <label class="col-form-label"><strong>Date</strong></label>
                                                </div>
                                                <div class="col-md-6">
                                                        <mat-form-field>
                                                                <input matInput [matDatepicker]="picker" placeholder="Choose a date"
                                                                formControlName="date"
                                                                [ngClass]="{
                                                                    'matInput': true,
                                                                    'is-invalid': !newsform.controls['date'].valid && newsform.controls['date'].touched,
                                                                    'is-valid': newsform.controls['date'].valid }" 
                                                                >
                                                               
                                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                                <mat-datepicker #picker></mat-datepicker>
                                                                
                                                        </mat-form-field>
                                                        <div class="text-danger" *ngIf="date.errors?.required && date.touched">Fields are required</div>
                                                </div>
                                            </div>

                                    <div class="row form-group">
                                        <div class="col-md-2">
                                            <label class="col-form-label"><strong>News no.</strong></label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" name="news_no"
                                            formControlName="news_no"
                                            [ngClass]="{
                                                'form-control': true,
                                                'is-invalid': !newsform.controls['news_no'].valid && newsform.controls['news_no'].touched,
                                                'is-valid': newsform.controls['news_no'].valid }" >
                                        <div class="text-danger" *ngIf="news_no.errors?.required && news_no.touched">Fields are required</div>
                                        
                                        <div class="text-danger" *ngIf="news_no.errors?.pattern && news_no.touched">Only Numbers</div>
                                    </div>
                                    </div>
                                    
                                    <div class="row form-group">
                                            <div class="col-md-2">
                                                <label class="col-form-label"><strong>Subject</strong></label>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control"
                                                name="subject"
                                                formControlName="subject"
                                                [ngClass]="{
                                                    'form-control': true,
                                                    'is-invalid': !newsform.controls['subject'].valid && newsform.controls['subject'].touched,
                                                    'is-valid': newsform.controls['subject'].valid }">
                                                    <div class="text-danger" *ngIf="subject.errors?.required && subject.touched">Fields are required</div>
                                                     
                                            </div>
                                        </div>

                                    <div class="row form-group">
                                            <div class="col-md-2">
                                                <label class="col-form-label"><strong>Name</strong></label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" name="firstname" placeholder="Firstname"
                                                formControlName="firstname"
                                                [ngClass]="{
                                                    'form-control': true,
                                                    'is-invalid': !newsform.controls['firstname'].valid && newsform.controls['firstname'].touched,
                                                    'is-valid': newsform.controls['firstname'].valid }" >
                                            <div class="text-danger" *ngIf="firstname.errors?.required && firstname.touched">Fields are required</div>
                                            <div class="text-danger" *ngIf="firstname.errors?.pattern && firstname.touched">Firstname must be letters only!</div>
                                        </div>

                                            <div class="col-md-3">
                                                    <input type="text" class="form-control" name="middlename" placeholder="Middlename"
                                                    formControlName="middlename"
                                                    [ngClass]="{
                                                        'form-control': true,
                                                        'is-invalid': !newsform.controls['middlename'].valid && newsform.controls['middlename'].touched,
                                                        'is-valid': newsform.controls['middlename'].valid }" >
                                                <div class="text-danger" *ngIf="middlename.errors?.required && middlename.touched">Fields are required</div>
                                                <div class="text-danger" *ngIf="middlename.errors?.pattern && middlename.touched">Middlename must be letters only!</div>
                                                </div>
                                                <div class="col-md-3">
                                                        <input type="text" class="form-control" name="lastname" placeholder="Lastname"
                                                        formControlName="lastname"
                                                        [ngClass]="{
                                                            'form-control': true,
                                                            'is-invalid': !newsform.controls['lastname'].valid && newsform.controls['lastname'].touched,
                                                            'is-valid': newsform.controls['lastname'].valid }" >
                                                    <div class="text-danger" *ngIf="lastname.errors?.required && lastname.touched">Fields are required</div>
                                                    <div class="text-danger" *ngIf="lastname.errors?.pattern && lastname.touched">Lastname must be letters only!</div>
                                                </div>
                                        </div>

                                        <div class="row form-group">
                                                <div class="col-md-2">
                                                    <label class="col-form-label"><strong>Address</strong></label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" class="form-control" name="no" placeholder="No."
                                                    formControlName="no"
                                                    [ngClass]="{
                                                        'form-control': true,
                                                        'is-invalid': !newsform.controls['no'].valid && newsform.controls['no'].touched,
                                                        'is-valid': newsform.controls['no'].valid }" >
                                                <div class="text-danger" *ngIf="no.errors?.required && no.touched">Fields are required</div>
                                                <div class="text-danger" *ngIf="no.errors?.pattern && no.touched">Only Numbers</div>
                                            </div>
    
                                                <div class="col-md-3">
                                                        <input type="text" class="form-control" name="street" placeholder="street"
                                                        formControlName="street"
                                                        [ngClass]="{
                                                            'form-control': true,
                                                            'is-invalid': !newsform.controls['street'].valid && newsform.controls['street'].touched,
                                                            'is-valid': newsform.controls['street'].valid }" >
                                                    <div class="text-danger" *ngIf="street.errors?.required && street.touched">Fields are required</div>
                                                    </div>
                                                    <div class="col-md-3">
                                                            <input type="text" class="form-control" name="barangay" placeholder="barangay"
                                                            formControlName="barangay"
                                                            [ngClass]="{
                                                                'form-control': true,
                                                                'is-invalid': !newsform.controls['barangay'].valid && newsform.controls['barangay'].touched,
                                                                'is-valid': newsform.controls['barangay'].valid }" >
                                                        <div class="text-danger" *ngIf="barangay.errors?.required && barangay.touched">Fields are required</div>
                                                        </div>
                                            </div>

                                            <div class="row form-group">
                                                    <div class="col-md-2">
                                                        <label class="col-form-label"><strong></strong></label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="municipality" placeholder="Municipality"
                                                        formControlName="municipality"
                                                        [ngClass]="{
                                                            'form-control': true,
                                                            'is-invalid': !newsform.controls['municipality'].valid && newsform.controls['municipality'].touched,
                                                            'is-valid': newsform.controls['municipality'].valid }" >
                                                    <div class="text-danger" *ngIf="municipality.errors?.required && municipality.touched">Fields are required</div>
                                                    </div>
        
                                                    <div class="col-md-3">
                                                            <input type="text" class="form-control" name="province" placeholder="Province"
                                                            formControlName="province"
                                                            [ngClass]="{
                                                                'form-control': true,
                                                                'is-invalid': !newsform.controls['province'].valid && newsform.controls['province'].touched,
                                                                'is-valid': newsform.controls['province'].valid }" >
                                                        <div class="text-danger" *ngIf="province.errors?.required && province.touched">Fields are required</div>
                                                        </div>
                                                        <div class="col-md-3">
                                                                <input type="text" class="form-control" name="zipcode" placeholder="Zip Code"
                                                                formControlName="zipcode"
                                                                [ngClass]="{
                                                                    'form-control': true,
                                                                    'is-invalid': !newsform.controls['zipcode'].valid && newsform.controls['zipcode'].touched,
                                                                    'is-valid': newsform.controls['zipcode'].valid }" >
                                                            <div class="text-danger" *ngIf="zipcode.errors?.required && zipcode.touched">Fields are required</div>
                                                            <div class="text-danger" *ngIf="zipcode.errors?.pattern && zipcode.touched">Only Numbers</div>
                                                        </div>
                                                </div>
        

                                    <div class="row form-group">
                                        <div class="col-md-2">
                                            <label class="col-form-label"><strong>Description</strong></label>
                                        </div>
                                        <div class="col-md-6">
                                           <textarea name="descrip"
                                           formControlName="descrip"
                                           [ngClass]="{
                                               'form-control': true,
                                               'is-invalid': !newsform.controls['descrip'].valid && newsform.controls['descrip'].touched,
                                               'is-valid': newsform.controls['descrip'].valid }"
                                            id="" cols="30" rows="10" class="form-control"></textarea>
                                            <div class="text-danger" *ngIf="descrip.errors?.required && descrip.touched">Fields are required</div>    
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col-md-8"> </div>
                                        <div class="col-md-4">
                                            <button type="submit" 
                                    [disabled]="newsform.pristine || newsform.invalid" 
                                    class="btn btn-primary btn-block" (click)="submitnews()" title="Click the button to register the information"><i class="fa fa-plus-circle mr-2"></i>Save news</button>
                                        </div>
                                    </div>



                                </form>


                             <!--end  -->
                                        
                            </div>
                        </div>
                            
             
            
               
            </div>
        </div>     
     </div> 
      <!--end //container -->
    

     <!-- Button trigger modal -->

  
  
