body{
	/* background-color: #00b894; */
}
.flex-container{
	display: flex;
	flex-direction: column;


}

.style-div-one{
	
	/*padding-top: 100px;
    padding-bottom: 100px;*/
    text-align: center;
	padding-top: 15px;
    height: 250px;
	background:#00b894;
	border-bottom:#00cec9;
   
	/* background: url(https://cdn.pixabay.com/photo/2015/03/26/09/48/chicago-690364_960_720.jpg);
	background-repeat: no-repeat;
	background-size: cover; */


}

.style-div-two{
	
	/*padding-top: 100px;
	padding-bottom: 100px;*/
	height: 250px;
	background-color: #55efc4;
	border-top:solid 10px #00cec9;

}
.style-content-one{
	font-family: 'Bungee Shade', cursive;
	color: black;
	font-size: 25px;
	margin-top: -7px;
}

.style-content-ones{
	font-family: 'Bungee Shade', cursive;
	color: #fff;
	font-size: 25px;
	margin-top: -7px;
}

.style-content-back{
    margin: auto;
    width: 50%;
    border: 8px solid #00cec9;
    padding: 10px;
	margin-top: -150px;
	height: 300px;
    background-color:#fff;
    color: #00cec9;
    border-radius: 10px;
    box-shadow: 5px 5px 5px  #777777;
    font-weight: 600;
}

/*//*/
.border-style-one{
	
	border:10px solid #00cec9;
	border-radius: 10px;
	/*-moz-box-shadow: 5px 5px 5px #777777;
	-webkit-box-shadow: 5px 5px 5px #777777;
	box-shadow: 9px 9px 9px #777777;		
			*/

	
}

.form-customize {
  background: #fff;
  color: black;
  border-top: #fff;
  border-right: #fff;
  border-left: #fff;
  border-bottom: 3px solid #81ecec;
  font-size: 15px;
  width: 100%;
}

.form-customize:focus{
 outline: none;
}
/*//*/

.style-ul-direction, ul{

		list-style: none;


}

.style-div-twos{
	
	/*padding-top: 100px;
	padding-bottom: 100px;*/
	height: 350px;
	background-color: #e0f7fa;

}

@media only screen and (max-width: 768px) {
  
.style-div-twos{
	
	/*padding-top: 100px;
	padding-bottom: 100px;*/
	height: 400px;
	background-color: #e0f7fa;

}

.style-content-back{
    margin: auto;
    width: 90%;
    border: 8px solid #00cec9;
    padding: 10px;
	margin-top: -100px;
	height: 300px;
    background-color:#fff;
    color: #00cec9;
    border-radius: 10px;
    box-shadow: 10px 10px 10px  #777777;
    font-weight: 600;
}

h4{
	margin-top: 20px;
}


}

h1 {
    font-family: 'Lobster Two', cursive;
    color: #d63031; 
}


