<div class="container" style="margin-top: 4%;">
				
	<div class="border-style-one">
		
		<div class="flex-container">
			<div class="style-div-one" >
                    <div>
                            <h1>EasyCom Japan</h1>
                    </div>
            </div>
            
			<div class="style-div-two">
			
					<div class="style-content-back">
                         <div class="mt-2" style="text-align: center;"><h4><i class="fa fa-key mr-2"></i>LOG-IN</h4></div>
                        
                         <hr>
                         <form [formGroup]="loginform">
                         <div class="row mr-3 ml-2 form-group">
                             <div class="col-md-2 mt-2 col-sm-2"><i class="fa fa-user"></i></div>
                             <div class="col-md-10 col-sm-10">
                               <input type="text"
                               formControlName="fname"
                               [ngClass]="{
                                   'form-control': true,
                                   'is-invalid': !loginform.controls['fname'].valid && loginform.controls['fname'].touched,
                                   'is-valid': loginform.controls['fname'].valid }" 
                               class="form-customize" placeholder="Username" name="fname">
                               <div class="text-danger" *ngIf="fname.errors?.required && fname.touched">Fields are required</div>
                             </div>
                             
                         </div>
                         <div class="row mr-3 ml-2 form-group">
                                <div class="col-md-2 mt-2 col-sm-2"><i class="fa fa-key"></i></div>
                                <div class="col-md-10 col-sm-10">
                                  <input type="password"
                                  formControlName="password"
                                    [ngClass]="{
                                        'form-control': true,
                                        'is-invalid': !loginform.controls['password'].valid && loginform.controls['password'].touched,
                                        'is-valid': loginform.controls['password'].valid }" 
                                  class="form-customize" placeholder="Password" name="password">
                                  <div class="text-danger" *ngIf="password.errors?.required && password.touched">Fields are required</div>
                                </div>
                                
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-sm-8"></div>
                            <div class="col-md-4 col-sm-4">
                                <button type="submit" 
                                [disabled]="loginform.pristine || loginform.invalid" 
                                class="btn btn-outline-primary btn-block"  (click)="login()"><i class="fa fa-sign-in-alt mr-2"></i>LOG-IN</button>
                            </div>
                        </div>
                    </form>
					</div>
			
			</div>
			<div>
        <!--flexx container  -->
        </div> 
<!-- //border-style -->
	</div> 


<!-- //container end -->
</div>	
