


    <div class="container">
        <app-header></app-header>
         
        <div class="row mt-5">
            <div class="col-lg-4 col-md-4">
                <!-- //my menus goes here -->
                    <app-barside></app-barside>
            </div>
            <div class="col-lg-8 col-md-8">
                <!-- //main content goes here -->
                <div *ngIf="details">
                      <div class="card">
                          <div class="card-header style-head-back"><i class="fa fa-user mr-2"></i>User information Details</div>
                          <div class="card-body">
                          <div class="row form-group">
                              <div class="col-md-10"></div>
                              <div class="col-md-2">
                                  <button class="btn btn-info btn-block btn-md"><i class="fa fa-file-pdf mr-2"></i>PDF</button>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="card">
                                      <div class="card-body">

                                 
                                        <!--  -->

                                        <div class="row form-group">
                                                <div class="col-md-4">
                                                    <strong>Leave type number</strong>
                                                </div>
                                                <div class="col-md-8">
                                                        {{details.ltno}}
                                                </div>
                                       </div>

                                       <div class="row form-group">
                                                <div class="col-md-4">
                                                    <strong>Leave date from</strong>
                                                </div>
                                                <div class="col-md-8">
                                                        {{details.ldfrom}}
                                                </div>
                                       </div>
                                       <div class="row form-group">
                                                <div class="col-md-4">
                                                    <strong>Leave date to</strong>
                                                </div>
                                                <div class="col-md-8">
                                                        {{details.ldto}}
                                                </div>
                                       </div>
                                       <div class="row form-group">
                                                <div class="col-md-4">
                                                    <strong>Reason</strong>
                                                </div>
                                                <div class="col-md-8">
                                                        {{details.reason}}
                                                </div>
                                       </div>
                                       <div class="row form-group">
                                                <div class="col-md-4">
                                                    <strong>Turnover</strong>
                                                </div>
                                                <div class="col-md-8">
                                                        {{details.turnover}}
                                                </div>
                                       </div>
                                       <div class="row form-group">
                                        <div class="col-md-4">
                                            <strong>Remarks</strong>
                                        </div>
                                        <div class="col-md-8">
                                                {{details.remarks}}
                                        </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-md-4">
                                                <strong>Letter no</strong>
                                            </div>
                                            <div class="col-md-8">
                                                    {{details.letterno}}
                                            </div>
                                        </div>   
                                       <!--  -->

                                    
                                     
                                    

                                      </div>
                                  </div>
                              </div>
                          </div>  
                            

                           
                    </div>
              </div>
            </div>
                
             
            
               
            </div>
        </div>     
     </div> 
      <!--end //container -->
    